<div class="d-flex">
    <!-- sidebar -->
     <app-sidebar></app-sidebar>
     <!-- task manager -->
      <div class="container w-100 bg-dark rounded c95-vh my-3">
        <!-- header -->
        <div class="row mb-1">
            <div class="col">
                <div class="header-tile bg-light border border-dark rounded d-flex align-item-center justify-content-between mt-3">
                    <p class="h1 m-1">Task</p>
                    <button class="btn btn-outline-dark m-2" (click)="addTask()">New</button>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col">
                <div class="filter-tile bg-light border border-dark rounded d-flex align-item-center justify-content-between">
                    <!-- grade filter -->
                     <div class="round-border m-2 w-20">
                        <app-multi-select [placeholder]="'Select Grade'"></app-multi-select>
                     </div>
                     <!-- subject filter -->
                     <div class="round-border m-2 w-20">
                        <app-multi-select [placeholder]="'Select Subject'"></app-multi-select>
                     </div>
                    <!-- input search -->
                  <div class="rounder-border m-2 w-20">
                    <input class="input-border" placeholder="Search..." type="text">
                  </div>
                    <!-- Defaulter -->
                  <div class="rounder-border m-2 w-20 d-flex align-item-center justify-content-end">
                    <button class="btn btn-outline-dark" (click)="openDefaulter()">Defaulter</button>
                  </div>
                  
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col">
                <div class="main-tile bg-light border border-dark rounded d-flex align-item-center justify-content-center">
                    <!-- student list - table -->
                      <table  style="width: 95%;">
                        <tr>
                            <th style="width: 10%;" class="text-center">Serial. No</th>
                            <th style="width: 15%;" class="text-center">Grade</th>
                            <th style="width: 20%;" class="text-center">Subject</th>
                            <th style="width: 10%;" class="text-center">Count</th>
                            <th style="width: 30%;" class="text-center">Word</th>
                            <th style="width: 10%;" class="text-center">Time</th>
                            <th style="text-align: center;width: 100px;">Action</th>
                        </tr>
                        <tr class="text-center">
                            <td>1</td>
                            <td>6th</td>
                            <td>English</td>
                            <td colspan="">5</td>
                            <td>Charm</td>
                            <td>70</td>
                            <td class="d-flex">
                                <button class="btn btn-outline-dark p-1 m-1" (click)="edit()">Edit</button>
                                <button class="btn btn-outline-dark p-1 m-1" (click)="delete()">Delete</button>
                            </td>
                        </tr>
                      </table>
                </div>
            </div>
        </div> 
      </div>
</div>