@if(popUpType == 'add' || popUpType == 'edit' ){
<div class="container bg-dark rounded border border-light p-1">
<div class="modal-header d-flex align-item-center justify-content-between">
  <h5 class="modal-title text-light ">{{title}}</h5>
  <button type="button" class="btn btn-outline-light" (click)="hide()">X</button>
</div>

<div class="modal-body text-light">
    <form [formGroup]="taskForm">
        <div class="container">
            <div class="row">
                <div class="col">
                   <label class="form-label">Grade</label>
                   <select formControlName="grade" class="form-select">
                    <option value="">Select</option>
                    @for(grade of grades;track grade) {
                        <option [value]="grade?.value">{{grade?.value}}</option>
                    }
                   </select>
                   <label class="form-label">Subject</label>
                   <select formControlName="subject" class="form-select">
                    <option value="">Select</option>
                    @for(subject of subjects;track subject) {
                        <option [value]="subject?.value">{{subject?.value | titlecase}}</option>
                    }
                   </select>
                </div>
                <div class="col">
                    <label class="form-label">Word</label>
                    <input type="text" placeholder="Enter Word" formControlName="word" class="form-control">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Count</label>
                                <input type="text" placeholder="No" formControlName="count" class="form-control">
                            </div>
                            <div class="col">
                                <label class="form-label">Timer</label>
                                <input type="text" placeholder="Sec" formControlName="timer" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Meaning</label>
                    <textarea placeholder="Meaning..." class="form-control" formControlName="meaning"  cols="30" rows="3"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer text-light">
  <button *ngIf="popUpType == 'add'" [disabled]="taskForm.invalid" class="btn btn-outline-light" (click)="save()">Save</button>
  <button *ngIf="popUpType == 'edit'" [disabled]="taskForm.invalid" class="btn btn-outline-light" (click)="update()">Update</button>
  <button class="btn btn-outline-light" (click)="hide()">Close</button>
</div>
</div>
}@else if(popUpType == 'delete'){
<div class="container bg-dark rounded border border-light p-1">

<div class="modal-body text-center text-light">
  Are you sure you want to delete?
</div>

<div class="modal-footer d-flex align-item-center justify-content-around text-light">
   <button class="btn btn-outline-light" (click)="delete()">Yes</button>
  <button class="btn btn-outline-light" (click)="hide()">No</button>
</div>
</div>
}

