@mixin smooth-transition {
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
}


// GRADIENT ORANGE BUTTON 
@mixin btnGradient {
  color: $color-ffffff;
  border-radius: 80px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border: 0;
  font-size: 14px;
  // background: linear-gradient(to right, $color-EE732A 0%, $color-F49622 100%, #7db9e8 100%, #7db9e8 100%);
  background: #E33745;

  span {
    position: relative;
    z-index: 1;
  }

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    background: rgba(0, 0, 0, 0.1);
    content: '';
    border-radius: 80px;
    @include smooth-transition;
  }

  &:focus:after,
  &:hover:after {
    width: 100%;
  }

  &:focus {
    color: $color-ffffff;
  }

  &:disabled {
    opacity: 0.7;

    &::after {
      display: none;
    }
  }

}

// ONBOARDING LIST ACTION
@mixin blueActionOnboarding {
  background: #fff;
  position: relative;
  border: solid 1px $grey-200;
  @include smooth-transition;
  border-radius: 10px;
  display: block;
  padding: 8px 11px;
  margin: 10px 0;
  text-decoration: none;
  color: $grey-400;
  font-size: 14px;
  font-family: $opensans-semibold;

  &.active,
  &:focus, &:hover  {
    background: $color-blue-100;
    border-color: $color-blue-600;
    color: $grey-500;
  }

  &.active:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    margin: auto;
    width: 5px;
    height: 10px;
    border: solid $grey-500;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  &.active.afterNone::after {
    display: none;
  }

}



// ONBOARDING CIRCLE GRADIENT ICON 
@mixin circleGradient {
  height: 44px;
  width: 44px;
  border-radius: 100px;
  background: $grey-100;

  svg {
    path {
      fill: $grey-500
    }
  }
}



@mixin onbordSearch {
  position: relative;

  .form-control {
    z-index: 0;
    position: relative;
    background: #fff;
    border: solid 1px $grey-200;
    height: 27px;
    padding-left: 35px;
    color: $grey-500;
    font-size: 14px;
    font-family: $opensans-regular;
    border-radius: 60px;

    &::placeholder {
      color: $grey-300;
    }
  }

  svg {
    position: absolute;
    left: 12px;
    top: 0;
    bottom: 0;
    height: 14px;
    width: 14px;
    margin: auto;
    z-index: 1;

    path {
      fill: $grey-600;
    }
  }
}


@mixin inputStyle {
  margin: 0;
  padding: 0;

  .form-label {
    font-size: 12px;
    color: $color-4e4e4e;
    margin: 0;
    font-family: $opensans-semibold;
  }

  .inputBox {
    position: relative;

    .form-control {
      height: 40px;
      border: solid 1px $grey-200;
      background: #fff;
      border-radius: 10px;
      position: relative;
      z-index: 0;
      box-shadow: none;
      outline: none;
      font-family: $opensans-semibold;
      font-size: 14px;
      color: $grey-400;
      appearance: auto !important;
      -ms-progress-appearance: auto !important;

      &.error {
        border-color: $color-da2128;
      }

      &.country-code {
        background-repeat: no-repeat;
        font-family: $opensans-regular;
        font-size: 14px;
        background-size: 30px auto;
        background-position: 10px center;
        padding-left: 50px;
      }
    }

    .errorIcon {
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 16px;
      width: 16px;
    }

    // &.arrow{
    //   &:before{position: absolute; right: 15px; top: 0; bottom: 0; height: 10px; width: 10px; content: ''; z-index: 1; margin: auto;
    //     background: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.5 5.5'%3E%3Cpath fill='%234e4e4e' d='m4.75,5.5c-.19,0-.38-.07-.53-.22L.22,1.28C-.07.99-.07.51.22.22S.99-.07,1.28.22l3.47,3.47.47-.47c.29-.29.77-.29,1.06,0s.29.77,0,1.06l-1,1c-.15.15-.34.22-.53.22Zm3.12-3.12c-.19,0-.38-.07-.53-.22-.29-.29-.29-.77,0-1.06l.88-.88c.29-.29.77-.29,1.06,0,.29.29.29.77,0,1.06l-.88.88c-.15.15-.34.22-.53.22Z'/%3E%3C/svg%3E" ) no-repeat center center;
    //   }
    // }
  }
}