/*********************************
XpenStar COLOR VARIABLES
*********************************/
$color-ffffff : #ffffff;
$color-f1f1f1 : #f1f1f1;
$color-eeeeee : #eeeeee;
$color-e4e4e4 : #e4e4e4;
$color-EA6863 : #EA6863;
$color-da2128 : #da2128;
$color-999999 : #999999;
$color-dcdee5 : #DCDEE5;
$grey-C0C0C0 : #C0C0C0;
$grey-8A8A8A : #8A8A8A;
$grey-e7e7e7 : #E7E7E7;
$color-4e4e4e : #4e4e4e;
$color-F49622 : #F49622;
$color-EE732A : #EE732A;
$green-20A51B : #20A51B;
$yellow-F7DA64 : #F7DA64;
$color-111111 : #111111;

$green-100 : #ddf7ec;
$green-200 : #aae1ca;
$green-500 : #000000;
$green-600 : #056a4c;



$grey-100 : #F1F1F1;
$grey-150 : #EAEAEA;
$grey-EDEDED : #EDEDED;

$grey-200 : #B6B6B6;
$grey-300 : #A0A0A0;
$grey-400 : #747474;
$grey-500 : #4E4E4E;
$grey-550 : #343434;
$grey-580 : #393939;
$grey-600 : #2b2b2b;
$grey-700 : #222222;
$black    : #000000;


$color-blue-100 : #ECEFF5;
$color-blue-200 : #e4edff;
$color-blue-300 : #c7dbff;
$color-blue-600 : #83A2DB;
$color-blue-800 : #5679BB;




/*********************************
OPEN SANS FONT KIT
*********************************/
$opensans-light       : "opensans-light-webfont";
$opensans-regular     : "opensans-regular-webfont";
$opensans-semibold    : "opensans-semibold-webfont";
$opensans-bold        : "opensans-bold-webfont";
$opensans-extrabold   : "opensans-extrabold-webfont";


/*********************************
RALEWAY FONT KIT
*********************************/
$raleway-thin         : "ralewaythin";
$raleway-extralight   : "ralewayextralight";
$raleway-light        : "ralewaylight";
$raleway-regular      : "ralewayregular";
$raleway-medium       : "ralewaymedium";
$raleway-semibold     : "ralewaysemibold";
$raleway-bold         : "ralewaybold";
$raleway-extrabold    : "ralewayextrabold";
$raleway-heavy        : "ralewayheavy";


/*********************************
FONT SIZE
*********************************/
$font-12 : 12px;
$font-14 : 14px;
$font-16 : 16px;
$font-18 : 18px;
$font-20 : 20px;
$font-22 : 22px;