<div class="d-flex pointer">
    <!-- sidebar -->
     <app-sidebar></app-sidebar>
     <!-- workboard -->
    <div class="container w-100 bg-dark rounded c95-vh my-3">
       <!-- header -->
        <div class="row mb-1">
            <div class="col">
                <div class="header-tile bg-light border border-dark rounded d-flex align-item-center justify-content-between mt-3">
                    <p class="h1 m-1">Workboard</p>
                    <div class="bg-light border border-dark rounded d-flex justify-content-end align-item-center m-2 w-20">
                        <select (change)="onSubjectChange()" [(ngModel)]="subjectFilter" class="form-select">
                            @for(subject of subjects;track subject) {
                                <option [value]="subject?.value">{{subject?.value | titlecase}}</option>
                            }
                        </select>
                        <!-- <button class="btn">Log out</button> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- main container -->
        <div style="cursor: pointer !important;" class="row mb-1 grid-container ">
          @if(workboardList?.length > 0) {
            @for(workboard of workboardList;track workboard;let i=$index){
             <div class="col-3 mt-1 position-relative">
  <div (click)="goToMainBoard(workboard,i)"
    class="bg-light border border-dark rounded p-3 lesson-card"
    [class.locked]="workboard?.id > studentTaskHistoryjson?.taskHistoryJson[configKey]"
  >
    
    <!-- Header -->
    <div class="d-flex justify-content-center align-items-center gap-2">
      <p class="h3 m-0">Lesson - {{ i + serialNo }}</p>
      

      <!-- Show unlock icon next to lesson -->
      @if(workboard?.id <= studentTaskHistoryjson?.taskHistoryJson[configKey]) {
        <img src="/assets/icons/unlock-fill.svg" alt="unlock" width="22">
      }
    </div>
    @if(workboard?.id <= studentTaskHistoryjson?.taskHistoryJson[configKey]) {
        <!-- <p>last worked On</p> -->
      }

    <!-- Lock Overlay -->
    @if(workboard?.id > studentTaskHistoryjson?.taskHistoryJson[configKey]) {
      <div style="cursor: not-allowed;" class="lock-overlay">
        <img src="/assets/icons/lock-fill.svg" alt="lock" width="40">
      </div>
    }

  </div>
</div>
            }
          } @else {
           <p class="text-light text-center">No data found </p>  
          }
        </div>
        <!-- pagination -->
         <div class="row mb-1">
            <div class="col d-flex align-item-center justify-content-end">
                <button class="btn btn-light"><img src="/assets/icons/caret-left.svg" alt=""></button>
                 <button class="btn bg-light m-1">1</button>
                 <button class="btn btn-light"><img src="/assets/icons/caret-right.svg" alt=""></button>
            </div>
         </div>
        

    </div>
</div>