@if(popUpType == 'add' || popUpType == 'edit' ){
<div class="container bg-dark rounded border border-light p-1">
<div class="modal-header d-flex align-item-center justify-content-between">
  <h5 class="modal-title text-light ">{{title}}</h5>
  <button type="button" class="btn btn-outline-light" (click)="hide()">X</button>
</div>

<div class="modal-body text-light">
    <form [formGroup]="adminForm">
        <div class="container">
            <div class="row">
                <div class="col">
                    <label class="form-label">Name</label>
                    <input class="form-control" type="text" placeholder="Enter Name" formControlName="name">
                    <label class="form-label">Password</label>
                    <div class="input-group">
                        <input #passwordInput type="password" class="form-control" placeholder="Enter Password" formControlName="password">
                        <button (click)="toggleEye(passwordInput)" class="btn btn-outline-secondary"><i [ngClass]="{'bi-eye':passwordInput.type == 'text'}" class="bi bi-eye-slash"></i></button>
                    </div>
                    <div class="text-danger mt-1"
     *ngIf="adminForm.get('password')?.touched && adminForm.get('password')?.invalid">

  <small *ngIf="adminForm.get('password')?.errors?.['required']">
    Password is required
  </small>

  <small *ngIf="adminForm.get('password')?.errors?.['minlength']">
      Password must be at least 
    {{ adminForm.get('password')?.errors?.['minlength']?.requiredLength }} characters
  </small>

  <small *ngIf="adminForm.get('password')?.errors?.['maxlength']">
    Password must be at least 
    {{ adminForm.get('password')?.errors?.['maxlength']?.requiredLength }} characters
  </small>

  <small *ngIf="adminForm.get('password')?.errors?.['pattern']">
    Password must contain uppercase, lowercase, number, and symbol
  </small>

</div>
                    <label class="form-label">Confirm Password</label>
                    <div class="input-group">
                        <input #cPasswordInput type="password" class="form-control" placeholder="Confirm Password" formControlName="cPassword">
                        <button (click)="toggleEye(cPasswordInput)" class="btn btn-outline-secondary"><i [ngClass]="{'bi-eye':cPasswordInput.type == 'text'}" class="bi bi-eye-slash"></i></button>
                    </div>
                    <div class="text-danger mt-1"
 *ngIf="adminForm.get('cPassword')?.touched">

  <small *ngIf="adminForm.get('cPassword')?.errors?.['required']">
    Confirm password is required
  </small>

  <small *ngIf="adminForm.get('cPassword')?.value !== adminForm.get('password')?.value">
    Password and Confirm Password must match
  </small>

</div>
                </div>
                <div class="col">
                    <label class="form-label">Role</label>
                    <select formControlName="role"  class="form-select" aria-label="Default select example">
                        <option value="">Select Role</option>
                        @for(role of roles; track role){
                            <option [value]="role.value">{{role.value | titlecase}}</option>
                        }
                    </select>
                    <label class="form-label">Organisation</label>
                    <select formControlName="org"  class="form-select" aria-label="Default select example">
                        <option value="">Select Organisation</option>
                        @for(org of organization; track org){
                            <option [value]="org.value">{{org.value | titlecase}}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer text-light">
  <button *ngIf="popUpType == 'add'" (click)="save()" [disabled]="adminForm.invalid || !passwordMatch()" class="btn btn-outline-light">Save</button>
  <button *ngIf="popUpType == 'edit'" (click)="update()" [disabled]="adminForm.invalid || !passwordMatch()" class="btn btn-outline-light">Update</button>
  <button class="btn btn-outline-light" (click)="hide()">Close</button>
</div>
</div>
}@else if(popUpType == 'delete'){
<div class="container bg-dark rounded border border-light p-1">

<div class="modal-body text-center text-light">
  Are you sure you want to delete?
</div>

<div class="modal-footer d-flex align-item-center justify-content-around text-light">
   <button class="btn btn-outline-light" (click)="delete()">Yes</button>
  <button class="btn btn-outline-light" (click)="hide()">No</button>
</div>
</div>
}

