@if(popUpType == 'add' || popUpType == 'edit' ){
<div class="container bg-dark rounded border border-light p-1">
<div class="modal-header d-flex align-item-center justify-content-between">
  <h5 class="modal-title text-light ">{{title}}</h5>
  <button type="button" class="btn btn-outline-light" (click)="hide()">X</button>
</div>

<div class="modal-body text-light">
    <form [formGroup]="studentsForm">
        <div class="container">
            <div class="row">
                <div class="col">
                    <label class="form-label">Role</label>
                    <input class="form-control not-allowed" readonly  type="text" formControlName="role">
                    <label for="">Grade</label>
                    <select formControlName="grade" class="form-select">
                        <option value="">Select</option>
                        @for(grade of grades;track grade) {
                            <option [value]="grade.value">{{grade.value}}</option>
                        }
                    </select> 
                </div>
                <div class="col">
                    <label class="form-label" for="">Name</label>
                    <input class="form-control" type="text" placeholder="Name" formControlName="name">
                    <label for="">Skill</label>
                    <select (change)="addSkill()" formControlName="skill" class="form-select">
                        <option value="">Select</option>
                        @for(skill of skills;track skill) {
                            <option [value]="skill.value">{{skill.value}}</option>
                        }
                        
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">Organization</label>
                        <select formControlName="org" class="form-select">
                            <option value="">Select</option>
                            @for(org of organization;track org) {
                                <option [value]="org.value">{{org.value}}</option>
                            }
                        </select> 

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Skill tags</label>
                    <div>
                        <!-- max of 5 skills -->
                         @for(skill of skillList;track skill;let i = $index) {
                        <button class="btn btn-outline-light m-1" (click)="removeSkill(i)" >{{skill | titlecase}} X</button>
                         }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer text-light">
  <button *ngIf="popUpType == 'add'" (click)="save()" [disabled]="studentsForm.invalid || (skillList.length === 0)" class="btn btn-outline-light">Save</button>
  <button *ngIf="popUpType == 'edit'" (click)="update()" class="btn btn-outline-light">Update</button>
  <button class="btn btn-outline-light" (click)="hide()">Close</button>
</div>
</div>
}@else if(popUpType == 'delete'){
<div class="container bg-dark rounded border border-light p-1">

<div class="modal-body text-center text-light">
  Are you sure you want to delete?
</div>

<div class="modal-footer d-flex align-item-center justify-content-around text-light">
   <button class="btn btn-outline-light" (click)="delete()">Yes</button>
  <button class="btn btn-outline-light" (click)="hide()">No</button>
</div>
</div>
}

