.sibling-tile{
    display: grid;
    grid-template-columns: auto auto auto;
}

.bottom-tile{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 5px;
}

.list{
    /* overflow-y: scroll; */
    /* height: 100%; */
    /* height: 55vh; */
    /* max-height: 55vh; */
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

