<div class="d-flex pointer">
    <!-- side bar -->
    <app-sidebar></app-sidebar>
    <!-- admin main container -->
     <div class="container w-100 bg-dark rounded c95-vh my-3">
        <div class="row mb-1">
            <div class="col">
                <div class="header-tile bg-light border border-dark rounded d-flex align-item-center justify-content-between mt-3">
                    <p class="h1 m-1">Admin</p>
                    <button class="btn btn-outline-dark m-2" (click)="addAdmin()">New</button>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col">
                <div class="filter-tile bg-light border border-dark rounded d-flex">
                    <!-- role filter -->
                  <div class="round-border m-2 w-20">
                    <app-multi-select [options]="roles" (selectedData)="onRoleSelect($event)" [placeholder]="'Select Role'"></app-multi-select>
                  </div>
                  <div class="rounder-border m-2 w-20">
                    <input class="input-border" (keydown.enter)="getAllAdminList()" [(ngModel)]="filterData" placeholder="Search" type="text">
                  </div>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col">
                <div class="main-tile bg-light border border-dark rounded d-flex align-item-center justify-content-center">
                    <!-- admin list - table -->
                     @if(adminList.length > 0) {

                         <table  style="width: 95%;">
                           <tr>
                               <th style="width: 100px;">Serial. No</th>
                               <th>Name</th>
                               <th>Role</th>
                               <th>Org</th>
                               <th>Created On</th>
                               <th>Updated On</th>
                               <th style="text-align: center;width: 100px;">Action</th>
                           </tr>
                           @for(admin of adminList; track admin; let i=$index){
                               <tr>
                                   <td>{{(serialNo+i)+((pageMultiple - 1)*limit)}}</td>
                                   <td>{{admin?.name | titlecase}}</td>
                                   <td>{{admin?.type | titlecase}}</td>
                                   <td>{{admin?.org | titlecase}}</td>
                                   <td>{{admin?.createdOn | date:'dd-MM-yyyy HH:mm'}}</td>
                                   <td>{{admin?.updatedOn | date:'dd-MM-yyyy HH:mm'}}</td>
                                   <td class="d-flex">
                                       <button class="btn btn-outline-dark p-1 m-1" (click)="edit(admin)">Edit</button>
                                       <button class="btn btn-outline-dark p-1 m-1" (click)="delete(admin)">Delete</button>
                                   </td>
                               </tr>
                           }
                         </table>
                     } @else {
                        no data found
                     }
                </div>
                <!-- pagination -->
         <div class="row m-1">
            <div class="col d-flex align-item-center justify-content-end">
                <button class="btn btn-light" (click)="back()" [disabled]="pageMultiple<=1"><img src="/assets/icons/caret-left.svg" alt=""></button>
                 <button class="btn bg-light m-1">{{pageMultiple}}</button>
                 <button class="btn btn-light" (click)="forward()" [disabled] = 'totalPage == pageMultiple' ><img src="/assets/icons/caret-right.svg" alt=""></button>
            </div>
         </div>
            </div>
        </div>
        
     </div>
</div>